<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eagle news</title>
</head>
<body>
    <header>
        <h1>Daily news from Eagle news!</h1>
    </header>
    <main>
        <section>
            <h2>
                Political news
            </h2>
            <p>
                It was a heavy week for the politics around the world. Next week will be even worst.
            </p>
            <ul>
                What do you think that would the reason for the worst week coming?
                <li>Weather <span class="rate">10%</span></li>
                <li>Markets <span class="rate">45%</span></li>
                <li>Oscars <span class="rate">30%</span></li>
                <li>Not sure <span class="rate">15%</span></li>
            </ul>
        </section>
        <aside>
            <span>Author: <b>Hero1</b></span>
        </aside>
    </main>
</body>
</html>
