<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Wolf news</title>
</head>
<body>
<header>
    <h1>
        And here are today news from Wolf news!
    </h1>
</header>
<main>
    <section>
        <h2>Politics</h2>
        <p>Heavy week for the politics in the world. If they think that the best is coming, actually NO, it's getting worse!</p>
        <ul>
            What do you think that would the reason for the worst week coming?
            <li>Weather <span class="rate">20%</span></li>
            <li>Markets <span class="rate">45%</span></li>
            <li>Oscars <span class="rate">10%</span></li>
            <li>Not sure <span class="rate">25%</span></li>
        </ul>
    </section>
    <aside>
        <span>Author: <b>Wolfe 3</b></span>
    </aside>
</main>
</body>
</html>
